html {
  font-size: 62.5%;
}
$f-family: Verdana, Helvetica, Helvetica Neue, serif;
$sp-base: 16px;
$max-layout: 1024px;

$c-font: #333333;
$c-white: #ffffff;
$c-base:  #333333;

$c-primary: #2196F3;
$c-primary-light: #64B5F6;
$c-primary-lightest: #BBDEFB;
$c-primary-dark: #1976D2;
$c-primary-darkest: #0D47A1;

$c-grey: #9E9E9E;
$c-grey-light: #E0E0E0;
$c-grey-lightest: #F5F5F5;
$c-grey-darkest: #616161;
$c-warning: #F44336;

$c-alert: #F44336;
$c-alert-light: #E57373;


