@import "../../../node_modules/font-awesome/css/font-awesome.css";
@import "../../../node_modules/react-table/react-table.css";
@import '../../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../../node_modules/rc-menu/assets/index.css';
@import "./style/settings/settings.scss";
@import "./style/generics/normalize.scss";
@import "./style/utils/mixins/transition.scss";
@import "./style/utils/mixins/border-radius.scss";
@import "./style/utils/mixins/container-fluid";
@import "./style/components/button.scss";
@import "./style/components/input.scss";
@import "./style/components/textarea.scss";
@import "./style/components/forms.scss";
@import "./style/components/table.scss";
@import "./style/components/navbar.scss";



body {
  position: relative;
  color: $c-font;
  height: 100vh;
  background-color: $c-white;
  font-family: $f-family;
  overflow-y: hidden;
  font-size: 1.4rem;
}

h1 {
  color: $c-white;
  font-size: 2.6rem;
  padding: $sp-base;
  background-color: $c-primary-darkest;
}

h2 {
  color: $c-base;
  font-size: 2rem;
  margin: $sp-base/2 0 $sp-base*1.5;
  border-bottom: 1px solid $c-base;
  padding-bottom: $sp-base/4;
}

.header {
  background-color: $c-primary-lightest;
  border-bottom: 1px solid $c-primary-lightest;
}








p {
  margin-bottom: $sp-base;
}

li {
  list-style: none;
}

a {
  color: $c-primary;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

div.dialog-modal {
  display:block;
  position:absolute;
  width: 600px;
  height: 300px;
  background:red;
  top: 30%;
  left: 20%;
  z-index: 100;

}

.container {
  @include container-fluid();
}

.FilterCalendar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: $sp-base 0;

  .button-return {
	flex: 0 0 auto;
	float: none;
  }

  .FilterCalendar-item {
	flex: 1 0 auto;
	text-align: center;
  }

  .button-filter {
	flex: 0 0 auto;
	float: none;
  }

  label {
	margin-right: $sp-base;
  }
}

.react-datepicker {
  font-size: 1.6rem;
  border: 1px solid $c-base;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-bottom-color: $c-base;
}

.react-datepicker__navigation--previous {
  border-right-color: $c-primary;
  @include transition();

  &:hover {
	border-right-color: $c-primary;
	opacity: 0.8;
	@include transition();
  }
}

.react-datepicker__navigation {
  border-width: 1rem;
}

.react-datepicker__navigation--next {
  border-left-color: $c-primary;
  @include transition();

  &:hover {
	border-left-color: $c-primary;
	opacity: 0.8;
	@include transition();
  }
}

.react-datepicker__header {
	background-color: $c-primary-lightest;
}

.react-datepicker__current-month {
  font-size: 1.8rem;
}

.react-datepicker__day-name, .react-datepicker__day {
  color: $c-base;
  width: auto;
  line-height: initial;
  text-align: center;
  margin: 0;
  padding: $sp-base/2;
  width: 14.28%;
}
.react-datepicker__day--today {
  background-color: $c-primary-lightest;
}
.react-datepicker__day {
  @include transition();

  &:hover {
	background-color: $c-primary;
	color: white;
	@include transition();
  }
}

.react-datepicker__day--selected {
  background-color: $c-primary;
  color: white;
}
