form {
  display: block;
  width: 100%;

  label {
	width: 30%;
	display: inline-block;
	margin-bottom: $sp-base;
	vertical-align: top;
	padding-top: $sp-base/2;
  }

  input {
	width: 70%;
	display: inline-block;
	margin-bottom: $sp-base;
  }

  .error {
	color: $c-warning;
	margin-left: 30%;
	margin-bottom: $sp-base;
	display: block;
	margin-top: -$sp-base/2;
  }

  .SelectContainer {
	display: inline-block;
	position: relative;

	&:after {
	  content:"\f107";
	  font-family:'FontAwesome';
	  position: absolute;
	  top: $sp-base/2;
	  right: $sp-base/2;
	  pointer-events: none;
	  font-size: 1.6rem;
	}
  }
  select {
	-webkit-appearance: none;
	border: 1px solid $c-base;
	@include border-radius();
	background: none;
	padding: $sp-base/2;
	padding-right: $sp-base*2;
	outline: 0;

	&:after {
	  content: 'hola';
	}
  }

  .ReactTable input {
	margin-bottom: 0;
  }
}
